html, 
body {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Navigation bar */
header{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    margin-left: 3px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 0 1em;
}

li a{
    text-decoration: none;
    color: #090909;
}

/* TYPOGRAPHY */
h1, h2, p{
    margin: 0;
}

h1{
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 0.5em;
}

h2{
    font-size: 4rem;
    font-weight: bold;
    color: #141414;
}

p{
    font-size: 1rem;
}

.date{
    font-size: 2rem;
}

main{
    display: grid;
    width: 100%;
}

.intro{
    color: #FFFFFF;
    background-image:url(/images/article-image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 50vh; */
    display: flex;
    box-sizing: border-box;
}

.intro div{
    padding: 11.5em 2em 3em 2em;
    align-self: center;
    width: 100%;
}

.intro div p{
    margin-top: 1em;
    font-size: 2.4rem;
    line-height: 1.3;
    letter-spacing: 1;
}

.blog-date{
    /* font-size: 1rem; */
}
 


.intro .date{
    font-size: 12px;
}
/* BLOG POST ARTICLE LAYOUT */
.blog-list{
    width: 100%;
    padding: 2.5em;
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}

.blog-list article{
    color: #505050;
    margin: 4em 0;
}

.blog-list article img{
    width: 100%;
    height: auto;
    display: block;
}

article div{
    margin-top: 2.5em;
    width: 100%;
    line-height: 1.3;
}

article div p{
    letter-spacing: 1;
    font-size: 2.4rem;
}

.view-more-btn{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-bottom: 2em;
}

footer{
    background-color: #202020;
    color: #D7D7D7;
    padding: 2.5em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

footer .title{
    color: #ECECEC;
    margin-bottom: .5em;
}