html, 
body {
    margin: 0;
    padding: 0;
}

header{
    font-size: 12px;
    font-weight: bold;
    padding: 0.3275em 1em;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    margin-left: 3px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 0 5px;
}

li a{
    text-decoration: none;
    color: #090909;
}

/* TYPOGRAPHY */
h1, h2, p{
    margin: 0;
}

h2{
    color: #141414;
}

p{
    font-size: 1rem;
}

main{
    display: grid;
    grid-template-columns: auto;
}

.intro{
    padding: 5.5em 1em 1em  1em;
    color: #FFFFFF;
    background-image:url(/images/article-image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
.intro div{
    width: 35 0px;
}


.intro .date{
    font-size: 12px;
}

.blog-list{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
}

.blog-list article{
    color: #505050;
    margin: 1em 0;
}

article div{
    margin-top: 1em;
    width:375px ;
    line-height: 1.3;
    letter-spacing: 0.3;
}

.view-more-btn{
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-bottom: 2em;
}

footer{
    background-color: #202020;
    color: #D7D7D7;
    padding: 1.5em;
    text-align: center;
}

footer .title{
    color: #ECECEC;
    margin-bottom: .5em;
}